@use "../../scss/colors";
@use "../../scss/variables";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.container {
  animation: fadeIn 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(colors.$black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  .body,
  .footer {
    padding: variables.$spacing-lg variables.$spacing-xl;
  }

  .body {
    overflow: scroll;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: variables.$border-thin solid colors.$grey-100;

    & > * {
      margin-left: variables.$spacing-md;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
